PORT=3000
APP_NAME="Frontend BFF"
NEXT_PUBLIC_APP_NAME="Frontend BFF"
NEXT_PUBLIC_STAGE=local
BACKEND_BASE_URL=
BACKEND_LOCAL_URL=http://127.0.0.1:8000/api
BACKEND_CLUSTER_URL=http://backend-api.demo.svc.cluster.local/api
